.download {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.download .download-le {
  width: 100%;
  background: #fff;
}
.download .download-list-le {
  margin-left: 0%;
}
.download .download-list-le .dl-le-title{
  padding: 0px;
  border: none;
}
.dl-le-title h3{
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 30px;
  padding-top: 25px;
}
.download .download-le {
  padding:0;
}
.dl-le-title p{
  font-size:16px;
  color: #999;
  line-height: 25px;
}
.download .download-le .dl-list-box {
  background: #fafbf6;
  display: none;
}
.download .download-le .dl-list .dl-pdf a li {
  width: 100%;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.dl-list-title{
  border-top:1px solid #999;
  background: #eaeaea;
}
.download .download-le .dl-list-box:nth-child(1) {
  display: block;
}
.download .download-le .dl-tab ul {
  margin-top: 20px;
  background: #fafbf6;
}
.download .download-le .dl-tab li {
  float: left;
  height: 40px;
  line-height: 40px;
  width: 14.2%;
  text-align: center;
  border-bottom: 2px solid transparent;
}
.download .download-le .dl-tab li:hover {
  border-bottom: 2px solid #27a01c;
}
.download .download-le .dl-tab li:hover a {
  color: #27a01c;
}
.download .download-le .dl-tab li a {
  font-size: 16px;
  display: block;
  height: 100%;
  line-height: 40px;
  width: 100%;
}
.download-active {
  border-bottom: 2px solid #27a01c !important;
}
.download-active a {
  color: #27a01c;
}
@media only screen and (max-width: 750px) {
  .download .download-le .dl-tab ul {
    padding-left: 0;
    margin-top: 20px;
    background: #f5f5f5;
  }
  .download .download-le .dl-tab li {
    float: left;
    padding: 5px 15px;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid transparent;
  }
}
